<header>
    <div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">routing-app</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
</header>
<div class="container">
<main>
  <router-outlet></router-outlet>

</main>
</div>