@import "@angular/material/prebuilt-themes/indigo-pink.css";

html{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;

}


.fill-remaining-space {
    flex: 1 1 auto;
}

/* div,
main{
    border: 1px solid black !important;

}
 */
